.note {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 60px;
    width: 90%;
    margin: 10px auto;
    padding: 0 10px;;
    box-shadow: 0 0 10px 2px rgba(106, 106, 106, 0.1);
    border-radius: 10px;

    &__content {
        display: block;
        margin: 0;
        font-size: 1rem;
        box-sizing: border-box;
    }

    &__check {
        cursor: pointer;
        color: @deep-blue;
        font-size: 1.5rem;

        // &:hover {
        //     > i {
        //         color: @blue; //TODO: add hover
        //     }
        // }
    }

    &__selector {
        display: none;

        &:checked {
            + i {
                opacity: 1;
                transition: opacity .05s ease-in;
            }
        }

        &:not(checked) {
            + i {
                opacity: .2;
                transition: opacity .05s ease-in;
            }
        }
    }
}
