.note {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    width: 100%;
    box-sizing: border-box;

    &_shadowed {
        margin-bottom: 15px;
        box-shadow: 0 0 10px 1px rgba(106, 106, 106, 0.1);
        border-radius: 10px;
    }

    &__content {
        display: flex;
        flex-direction: column;
        margin: 0 auto 0 10px;
        width: 50%;
    }

    &__title {
        font-size: 0.75rem;
        font-weight: bold;

        &_checked {
            text-decoration: line-through;
        }
    }

    &__description {
        font-size: 0.6rem;
        opacity: .7;
    }

    &__title,
    &__description {
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }

}
