.control-group {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    height: 150px;

    &__item {
        display: inline-flex;
        justify-content: center;
        width: calc(100% / 3);
    }
}